.menu{
    position: absolute;
    top: -2000px;
    right: 0;
    background-color: #ffffff;
    padding: 32px 32px;
    min-width: 232px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    transition: all 0.3s;
    z-index: -1;
    &--active{
       
        
        top: 100%;
    }
    li{
        list-style: none;
    }
    @media(max-width: 425px){
        width: 100%;
    }
}
.nav{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    &__lists{
        margin-top: 24px;
    }
    &__link{
        margin-bottom: 12px;
        a{
            color: $clr-accent;
        }
        &:not(:first-child){
            margin-top: 20px;
        }
    }
    &__items{
        margin-left: 21px;
    }
    &__item{
        a{
            font-weight: 400;
            color: #6F6E6E;
            text-transform: none;
        }
        &:not(:last-child){
            margin-bottom: 11px;
        }
    }
    
}