.products{
    &__text{
        max-width: 670px;
        text-align: center;
        margin: 0 auto 48px; 
        cursor: default;
    }
    &__title{
        margin-bottom: 6px;
        color: #222222;
    }
    &__desc{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }
    &__content{
        margin-bottom: 48px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__control{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &-nav{
        display: flex;
        align-items: center;
        gap: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        li{
            list-style-type: none;
        }
        &__item{
            position: relative;
        }
        &__btn{
            border: none;
            box-shadow:none;
            outline: none;
            background-color: transparent;
            
            display: flex;
            align-items: center;
            gap: 10px;
            svg{
                width: 10px;
            }
        }
        &__list{
           position: absolute;
           top: calc(100% + 5px);
           left: 0;
           background-color: #fff;
           z-index: -9;
           opacity: 0;
           min-width: 105px;
           max-width: 220px;
           padding: 7px 16px 11px 9px;
           box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
           display: flex;
           flex-direction: column;
           gap: 6px;
           transition: all .06s linear;
           
           &--active{
            z-index: 1;
            opacity: 1;
            
           }
        }
        &__check{
            
            & input[type=checkbox]{
                display: none;

                &+label{
                    display: flex;
                    align-items: center;
                    gap: 9.5px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: #6F6E6E;
                    transition: color .24s linear;
                    cursor: pointer;
                    &:hover{
                        color: $clr-accent;
                    }
                    &::before{
                        content: url(../images/icons/mark-checkbox.svg);
                        width: 12px;
                        height: 12px;
                    }
                }

                &:checked{
                    &+label{
                        &::before{
                            content: url(../images/icons/mark-checbox-active.svg);
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
    &__filter{
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 35px;
        padding-bottom: 48px;

    
    }
    
}