.inp-text{
    border: 1px solid transparent;
    outline: 2px solid transparent;
    box-shadow: none;
    font-family: Lato;
    font-size: 13px;
    padding: 13px 17px 16px;
    font-weight: 600;
    &::placeholder{
        font-weight: 300;
    }
    &:focus{
        
        outline: 2px solid $clr-accent;
    }
}