* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: lato;
    height: 100%;
    overflow-x: hidden;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1 1 auto;
}
.container{
    max-width: $mx-wdth;
    width: 100%;
    margin: 0 auto;
    @media(max-width:1150px){
        padding-right: 32px;
        padding-left: 32px;
    }
    @media(max-width:520px){
        padding-right: 16px;
        padding-left: 16px;
    }
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.accent-text{
    color: $clr-accent;
}
.title-h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.main{
    &__intro{
        margin-bottom: 65px;
    }
    &__offer{
        margin-bottom: 96px;
    }
    &__products{
        margin-bottom: 95px;
    }
    @media(max-width:345px){
        .pagination__item:nth-child(5),
        .pagination__item:nth-child(6){
            display: none;
        }
    }
}