@import 'fonts.scss';
@import 'reset.scss';
@import 'libs.scss';
@import 'function.scss';
@import 'vars.scss';
@import 'global.scss';

@import 'components/form/input.scss';
@import 'components/offer-card.scss';

@import 'modules/header.scss';
@import 'modules/menu.scss';
@import 'modules/intro.scss';
@import 'modules/offer.scss';
@import 'modules/footer.scss';